.pagination {
    display: flex;
    justify-content: space-between;
    margin: 40px 70px;
    max-width: 600px;
}

.text1 {}

.text2 {}

.classSuperSelect {
    background-color: transparent;
    width: 60px;
    margin: 0 10px;
}